.card_container {
  background-color: var(--secondary-light);
}

.card_container--dark{
  background-color: #4F4F64
}

.card_container--dark p,
.card_container--dark span,
.card_container--dark h4, 
.card_container--dark time {
  color: var(--text-dark)
}

.card_container, .card_container--dark {
  padding: 8px;
  width: 80vw;
  max-width: 600px;
  position: relative;
  height: 200px;
  word-wrap: break-word;
  border-radius: 24px 0 0 24px;
  margin-left: 8px;
  margin: 0 auto;
  box-shadow: 2px 3px 2px rgb(0 0 0 / 8%);
}

.font-small {
  font-size: 12px
}

.votes {
  display: flex;
  align-items: center;
  position: absolute;
  top: 6%;
  left: 6%;
  width: 60px;
  justify-content: space-between;
}

.votes img, .comments img {
  width: 16px;
}

.author {
  position: absolute;
  right: 3%;
  top: 6%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.author img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 8px;
}

.post_content {
  position: absolute;
  height: fit-content;
  width: 85%;
  left: 8%;
  top: 30%;
}

.post_content a {
  font-size: 12px;
  text-decoration: none;
}

.post_content .image_container {
  height: 150px;
  margin-top: 20px;
}

.post_content img {
  float: right;
  max-width: 100%;
  max-height: 100%;
}

.modal_container #modal_img {
  max-height: none;
}

.comments {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 38px;
  position: absolute;
  bottom: 6%;
  left: 6%;
}

.date {
  position: absolute;
  bottom: 5%;
  right: 3%;
}

#post_txt {
  font-size: 14px;
}

#read_more {
  display: none;
  color: blue;
}

.card_container--dark a {
  color: var(--primary-dark);
}

@media only screen and (min-width: 481px) {
  .post_content p {
    display: block;
  }
}
