.active_subreddit, .active_subreddit--dark {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 60%;
  margin: 0 auto;
  background-color: var(--secondary-light);
  border-radius: 22px;
  padding: 4px 11px;
  box-shadow: 2px 3px 2px rgb(0 0 0 / 8%);
  margin-bottom: 12px;
}

.active_subreddit--dark {
  background-color: #4F4F64;
  color: #fff;
}

.active_subreddit img, .active_subreddit--dark img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  object-fit: contain;
  background-color: #fff;
  border: 0.5px solid;
}

.active_subreddit p, .active_subreddit--dark p{
  font-family: var(--body-Libra);
}

.cards_container {
  position: relative;
  top: 138px;
  width: 83vw;
  display: grid;
  grid-row-gap: 32px;
}

.cards_container #load_posts {
  height: 60px;
}

#load_posts {
  height: 60px;
}

.load_posts {
  text-align: center;
}

.load_posts::after {
  content: "Loading more posts...";
  color: var(--primary-light);
  font-size: 26px;
  text-align: center;
}

.no_posts_loaded {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  top: 100px;
}

.no_posts_loaded, #no_posts_image {
  height: 150px
}

.no_posts_loaded p {
  font-size: 22px;
  line-height: 6px;
  margin-top: 16px;
}

/* Posts loader */
  .lds-grid {
    display: inline-block;
    position: relative;
    top: 120px;
    width: 80px;
    height: 80px;
    margin: 0 auto;
  }
  .lds-grid div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--primary-light);
    animation: lds-grid 1.2s linear infinite;
  }
  .lds-grid div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
  }
  .lds-grid div:nth-child(2) {
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(3) {
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(4) {
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(6) {
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(7) {
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(8) {
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(9) {
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
  }
  .cards_container #loading, .loading_app #loading {
    position: relative;
    top: 100px;
    font-size: 26px;
    margin: 0 auto;
    color: var(--primary-light);
  }
  @keyframes lds-grid {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
/*  */