/* Colors and fonts variables */
:root {
  --primary-light: #6ab9f0;
  --secondary-light: #f5f5f5;
  --disabled-light: #cccccc;
  --text-ligt: #666666;
  --primary-dark: #a2d3f6;
  --secondary-dark: #0A1945;
  --disabled-dark: #e0e0e0;
  --text-dark: #f5f5f5;

  --body-Fira: 'Fira Sans', sans-serif;
  --body-Libre: 'Libre Franklin', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0
}