nav, .nav-dark {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 54px;
}

nav {
  background-color: var(--secondary-light);
}

#mini-reddit-logo {
  width: 26px
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo-title {
  margin-top: 5px;
  margin-left: 5px;
  display: flex;
}

#logo-title p {
  color: var(--primary-light);
}

.switch-container {
  width: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-switch {
  width: 16px;
}

@media only screen and (max-width: 420px) {
  #logo-title {
    font-size: 16px;
  }
}

/* Dark theme */

.nav-dark {
  background-color: #4F4F64;
}

.nav-dark #logo-title {
  color: var(--text-dark);
}

.nav-dark #logo-title p {
  text-shadow: 0 0 10px #fff, 0 0 1px #a2d3f6;
}

.nav-dark #mini-reddit-logo, .nav-dark .icon-switch {
  filter: drop-shadow(0 0 1px #a2d3f6);
}